{% extends "layout.html" %}
{% block body %}
 
<h3><b>A collection of sequence manipulation tools</b></h3>
<h5>What do you want to do?</h5>
<p><a href="transform.html">Sequence transformations using BioPython</a></p>
<p><a href="motif.html">Find motifs in a sequence</a></p>     
<p><a href="complementary.html">Find the complementary of a sequence</a></p>
<p><a href="complementary_reverse.html">Find the reverse complementary of a sequence</a></p>
<p><a href="GCcont.html">GC content calculator of a sequence</a></p>
<p><a href="seq_comparison.html">Comparison of two sequences</a></p>

{% endblock %}
